src/Angular2AutoCompleteAspNetCoreElasticsearch/obj

.vs
src/AngularAutoCompleteAspNetCoreElasticsearch/aot
src/AngularAutoCompleteAspNetCoreElasticsearch/angularApp/**/*.js

src/AngularAutoCompleteAspNetCoreElasticsearch/node_modules
src/AngularAutoCompleteAspNetCoreElasticsearch/angularApp/app/**/*.map
src/AngularAutoCompleteAspNetCoreElasticsearch/wwwroot
src/AngularAutoCompleteAspNetCoreElasticsearch/angularApp/main.js.map
src/AngularAutoCompleteAspNetCoreElasticsearch/angularApp/polyfills.js.map
src/AngularAutoCompleteAspNetCoreElasticsearch/angularApp/vendor.js.map
src/AngularAutoCompleteAspNetCoreElasticsearch/bin
src/AngularAutoCompleteAspNetCoreElasticsearch/obj
