<div class="panel-group">

    <p>Elasticsearch Index exists: {{IndexExists}}</p> 
    <button (click)="CreateIndex()" *ngIf="!IndexExists">Create Index</button>
    <button (click)="CreateTestData()" *ngIf="IndexExists">Create TestData</button>
    
    <hr />
    <br />

    <personcityautocomplete [(bindModelPersonCity)]="SelectedPersonCity" [disableAutocomplete]="!IndexExists" >
    </personcityautocomplete>

    <hr />

    <span>{{SelectedPersonCity.name}} {{SelectedPersonCity.familyName}} </span>
    <br />
    <br />
    <span>{{SelectedPersonCity.info}}</span><br />
    <br />
    <em style="font-size:large"><a href="{{SelectedPersonCity.web}}">{{SelectedPersonCity.web}}</a></em><br />
    <br />
    <a href="{{SelectedPersonCity.twitter}}"><img src="assets/socialTwitter.png" /></a>  <a href="{{SelectedPersonCity.github}}"><img src="assets/github.png" /></a><br />
    <br />
    <em><span>{{SelectedPersonCity.metadata}}</span></em><br />

    <hr />


</div>