<div class="panel-group">

    <p>Elasticsearch Index exists: {{IndexExists}}</p> 

    <personcitysearch (onTermSelectedEvent)="onTermSelectedEvent($event)" [disableAutocomplete]="!IndexExists">
    </personcitysearch>
    
    Selected: {{SelectedTerm}}
    <hr />
    <br />

    <ul>
        <li *ngFor="let personCity of PersonCityItems">
            <span>{{personCity.name}} {{personCity.familyName}} </span>
            <br />
            INFO     : <span>{{personCity.info}}</span>
        </li>
    </ul>

</div>